<h1>{{title}}</h1>
<div class="container">
  <span onclick="event.stopPropagation()">
    <p>Coucou !! Je sais pas dessiner ni composer de la musique et je suis nulle en Tik Tok, mais je sais faire des sites. 
      Au début je me disais "bah ça sert" à rien pis finalement Sid m'a dit "ce serait stylé !!" et après j'ai pensé à un genre de générateur de compliments pour quand t'as un doute ??</p>
    <p>Donc voilà, cadeau, à utiliser sans modération.</p>
    <p>PS : désolée pour la typo, j'ai fait ce que j'ai pu avec Google Fonts !</p>
    <p>PPS : tu peux également constater que je ne suis pas web designer.</p>
    <p>PPPS : tu peux également cliquer autour du texte, on sait jamais...</p>
    <p>PPPPS : je t'aime ❤️</p>
    <button id="btn" class="btn">Recevoir un compliment</button>
    <h2 id="compliment"></h2>
    <p id="img-clicked" class="hidden">Clique sur l'image pour la faire disparaître !</p>
  </span>
  
</div>

