@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 16px "Arimo", Arial, sans-serif;
  background: #ef32d9;  /* fallback for old browsers */
  background: linear-gradient(to left, #3eb489, #C1E494, #DDCEEF, #D8BFD8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
  margin-top: 40px;;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 6em;
}

p {
  margin: 10px 0;
  text-align: center;
}

.btn {
  margin-top: 30px;
  margin-left: calc(50% - (200px/2));
  padding: 10px;
  height: 80px;
  width: 200px;
  font-size: 1.2em;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #3eb489;
  align-self: center;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 10px 3px 5px lightslategrey;
}

#compliment {
  margin-top: 30px;
  height: 2em;
  font-size: 3em;
  text-align: center;
}

.img-span {
  display: flex;
  justify-content: center;
}

.nice-tweet-img {
  position: absolute;
  z-index: 99999;
  align-self: center;
}

.hidden {
  visibility: hidden;
}

@media (min-width: 678px) {
  .container {
    width: 80%;
    margin-top: 40px;;
    padding: 30px;
    font-size: 1.2em;
  }

  .btn {
    margin-top: 30px;
    margin-left: calc(50% - (200px/2));
    padding: 10px;
    height: 80px;
    width: 200px;
    font-size: 1.2em;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #3eb489;
  }

  #compliment {
    margin-top: 30px;
    height: 2em;
    font-size: 3em;
  }

  .nice-tweet-img {
    top: 50px;
  }
}